* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    user-select: none;
}
br {
    user-select: none;
}
body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: bold;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     max-height: 100vh;
    background: url(./background.svg);
    color: #ffff;
}
button {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: bold;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    justify-content: center;
    border-radius: 15px;
    padding: 30px 50px;
}
input {
    outline: none;
    height: 45px;
    padding: 5px 10px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: bold;
    border: 1.5px solid #ffff;
    border-radius: 8px;
    color: #fff;
    background: none;
    margin-top: 10px;
    font-size: 18px;
    margin-left: 5px;
    display: block;
    margin-bottom: 10px;
}
label {
    margin-top: 3px;
    margin-bottom: 10px;
    margin-left: 7px;
    font-size: 27px;
}

.specs-attr {
    text-align: left;
    margin-top: 7px;
}
.clear {
    clear: both;
  }
  
  .checkBox {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border: 3px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 0px 2px #fff;
  }
  
  .checkBox div {
    width: 60px;
    height: 60px;
    background-color: #fff;
    top: -52px;
    left: -52px;
    position: absolute;
    transform: rotateZ(45deg);
    z-index: 100;
  }
  
  .checkBox input[type=checkbox]:checked + div {
    left: -10px;
    top: -10px;
  }
  
  .checkBox input[type=checkbox] {
    position: absolute;
    left: 50px;
    visibility: hidden;
  }
  
  .transition {
    transition: 300ms ease;
  }
  .first-content {
    margin-bottom: 1vh;
  }
  
  .shadow__btn {
    padding: 14px 20px;
    border: none;
    font-size: 17px;
    margin-top: 10px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
  }
  .result-action-state {
    margin-top: 30px;
    height: 55px;
    padding: 5px 8px;
  }
  .shadow__btn {
    background: #3700FF;
    box-shadow: 0 0 25px #3700FF;
  }
  
  .shadow__btn:hover {
    box-shadow: 0 0 5px #3700FF,
                0 0 25px #3700FF,
                0 0 30px #3700FF,
                0 0 60px #3700FF;
  }
  
.creator-content {
    font-size: 21px;
    margin-top: 4vh;

    a {
        color: #fff;
    }
}

  @media only screen and (max-width: 600px) {
    body {
        margin: 0 14px;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 500px;
        background: rgba(0, 0, 0, 0.4);
        width: 100%;
        margin: 0;
        justify-content: center;
        border-radius: 15px;
        padding: 30px 20px;
    }
    .shadow__btn {
        padding: 14px 20px;
        border: none;
        font-size: 15px;
        margin-top: 10px;
        color: #fff;
        border-radius: 7px;
        letter-spacing: 4px;
        font-weight: 700;
        text-transform: uppercase;
        transition: 0.5s;
        transition-property: box-shadow;
      }
      input {
        cursor: none;
      }
  }
